.a4-size {
  width: 210mm; /* A4 width */
  height: 297mm; /* A4 height */
  margin-top: 20px; /* Add 20px margin on top */
  margin-bottom: 20px; /* Add 20px margin on bottom */
  margin-left: auto; /* Center the div horizontally */
  margin-right: auto; /* Center the div horizontally */
  overflow: auto; /* Handle overflow if content exceeds */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* Shadow effect */
  border-radius: 8px; /* Optional: Add rounded corners */
}

.table-row {
  transition: transform 0.2s ease;
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow effect */
  border-color: rgb(252, 0, 0); /* Border color */
}

.table-row:hover,
.table-row.selected {
  transform: scale(1.05); /* Grow effect on hover or when selected */
  border-radius: 25px; /* More rounded corners on hover */
  box-shadow: 0 4px 10px rgba(0.5, 0.5, 0.5, 0.5); /* Enhanced shadow on hover or when selected */
  border-color: rgb(252, 0, 0); /* Keep border color consistent */
}


.selected-bg {
  background: url('../../../assets/mega.png') no-repeat center;
  background-size: cover;
  border-radius: 25px;
  background-color: #f0f5ef;
}
